body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    background-image: radial-gradient(circle, #424242, #000000);
    font-family: Courier, monospace;
    color: #ff0000;
    height: 95vh;
    border: 12px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #ff0000, #ff8800, #ffee00, #88ff00, #0000ff, #ff00ff);
    animation: borderMove 4s linear infinite;
}
@keyframes borderMove {
    0% {
        border-image-source: linear-gradient(90deg, #ff0000, #ff8800, #ffee00, #88ff00, #0000ff, #ff00ff);
    }
    25% {
        border-image-source: linear-gradient(180deg, #ff0000, #ff8800, #ffee00, #88ff00, #0000ff, #ff00ff);
    }
    50% {
        border-image-source: linear-gradient(270deg, #ff0000, #ff8800, #ffee00, #88ff00, #0000ff, #ff00ff);
    }
    75% {
        border-image-source: linear-gradient(360deg, #ff0000, #ff8800, #ffee00, #88ff00, #0000ff, #ff00ff);
    }
    100% {
        border-image-source: linear-gradient(90deg, #ff0000, #ff8800, #ffee00, #88ff00, #0000ff, #ff00ff);
    }
}