body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    background-image: radial-gradient(circle, #424242, #000000);
    font-family: Courier, monospace;
    color: #ff0000;
    height: 95vh;
    border: 12px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #ff0000, #ff8800, #ffee00, #88ff00, #0000ff, #ff00ff);
    animation: borderMove 4s linear infinite;
    margin: 0px;
}
@keyframes borderMove {
    0% {
        border-image-source: radial-gradient(circle, #ff0000, #ff8800, #ffee00, #88ff00, #0000ff, #ff00ff);
    }
    18% {
        border-image-source: radial-gradient(circle, #ff8800, #ffee00, #88ff00, #0000ff, #ff00ff, #ff0000);
    }
    35% {
        border-image-source: radial-gradient(circle, #ffee00, #88ff00, #0000ff, #ff00ff, #ff0000, #ff8800);
    }
    54% {
        border-image-source: radial-gradient(circle, #88ff00, #0000ff, #ff00ff, #ff0000, #ff8800, #ffee00);
    }
    70% {
        border-image-source: radial-gradient(circle, #0000ff, #ff00ff, #ff0000, #ff8800, #ffee00, #88ff00);
    }
    86% {
        border-image-source: radial-gradient(circle, #ff00ff, #ff0000, #ff8800, #ffee00, #88ff00, #0000ff);
    }
    100% {
        border-image-source: radial-gradient(circle, #ff0000, #ff8800, #ffee00, #88ff00, #0000ff, #ff00ff);
    }
}

