body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    background-image: radial-gradient(circle, #424242, #000000);
    font-family: Courier, monospace;
    color: #ff0000;
    height: 95vh;
    border: 12px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #ff0000, #ff8800, #ffee00, #88ff00, #0000ff, #ff00ff);
    animation: borderMove 4s linear infinite;
}
@keyframes borderMove {
    0% {
        border-image-source: linear-gradient(36deg, #ff0000, #ff8800, #ffee00, #88ff00, #0000ff, #ff00ff);
    }
    10% {
        border-image-source: linear-gradient(72deg, #ff0000, #ff8800, #ffee00, #88ff00, #0000ff, #ff00ff);
    }
    20% {
        border-image-source: linear-gradient(108deg, #ff0000, #ff8800, #ffee00, #88ff00, #0000ff, #ff00ff);
    }
    30% {
        border-image-source: linear-gradient(144deg, #ff0000, #ff8800, #ffee00, #88ff00, #0000ff, #ff00ff);
    }
    40% {
        border-image-source: linear-gradient(180deg, #ff0000, #ff8800, #ffee00, #88ff00, #0000ff, #ff00ff);
    }
    50% {
        border-image-source: linear-gradient(216deg, #ff0000, #ff8800, #ffee00, #88ff00, #0000ff, #ff00ff);
    }
    60% {
        border-image-source: linear-gradient(252deg, #ff0000, #ff8800, #ffee00, #88ff00, #0000ff, #ff00ff);
    }
    70% {
        border-image-source: linear-gradient(288deg, #ff0000, #ff8800, #ffee00, #88ff00, #0000ff, #ff00ff);
    }
    80% {
        border-image-source: linear-gradient(324deg, #ff0000, #ff8800, #ffee00, #88ff00, #0000ff, #ff00ff);
    }
    90% {
        border-image-source: linear-gradient(0deg, #ff0000, #ff8800, #ffee00, #88ff00, #0000ff, #ff00ff);
    }
    100% {
        border-image-source: linear-gradient(36deg, #ff0000, #ff8800, #ffee00, #88ff00, #0000ff, #ff00ff);
    }
}