h1{
    font-size: 30px;
    font-weight: bold;
    color: #d4da87;
    text-shadow: 2px 2px 6px #000000;
    transition: color 1s ease, transform 0.6s ease;
}
h1:hover{
    color: #ac8851;
    transform: scale(1.2);
}
form{
    color:#d4da87;
}
.create{
    border-style: solid;
    border-width: 3px;
    border-color: #491d00;
    background-color: rgba(181, 103, 52, 0.2);
}
