body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    height: 95vh;
    border: 12px solid;
    border-image-slice: 1;
    padding: 0;
    margin: 0;
    font-family: Courier, monospace;
}
header{
    border-bottom: 1px solid #505050;
    display: flex;
    width: 100%;
    background-color: #505050;
}
header ul{
    margin: 0;
    display: flex;
    gap: 20px;
    list-style-type: none;
}
header nav ul li{
    padding: 7px 15px;
}
a{
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s ease;
}
a:hover{
    color: #eecf8e;
}
input{
    border-style: solid;
    border-radius: 4px;
}
