body{
    padding: 0;
}
header{
    border-bottom: 1px solid #505050;
    box-shadow: 7px 0px 10px #505050;
    display: flex;
    
}
header ul{
    margin: 0;
    display: flex;
    gap: 20px;
    list-style-type: none;
}
header ul li{
    padding: 7px 15px;
}