body {
    background-image: radial-gradient(circle, #424242, #000000);
    font-family: Courier, monospace;
    color: #cf9a21;
    border-image-source: linear-gradient(90deg, #cf9a21, #cf4121);
    animation: borderMove 4s linear infinite;
    margin: 0px;
}
h1{
    font-size: 30px;
    font-weight: bold;
    color: #ffdb86;
    text-shadow: 2px 2px 6px #000000;
    transition: color 1s ease, transform 0.6s ease;
}
h1:hover{
    color: #f37256;
    transform: scale(1.3);
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color:#f37256;
    color:#f37256;
    background-color:transparent;
    font-weight: 900;
    font-size: large;
    width: 10vh;
    height: 3vh;
}
.edit{
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color:#56c7f3;
    color:#56c7f3;
    font-weight: 900;
    font-size: large;
    width: 10vh;
    height: 3vh;
}


@keyframes borderMove {
    0% {
        border-image-source: linear-gradient(90deg, #ffdb86, #f37256);
    }
    25% {
        border-image-source: linear-gradient(180deg, #ffdb86, #f37256);
    }
    50% {
        border-image-source: linear-gradient(270deg, #ffdb86, #f37256);
    }
    75% {
        border-image-source: linear-gradient(360deg, #ffdb86, #f37256);
    }
    100% {
        border-image-source: linear-gradient(90deg, #ffdb86, #f37256);
    }
}